button{
    background-color: black;
    margin:4%;
    opacity: 80%;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 6px;
    box-shadow: 0 0 0rem #fff,
                0 0 0rem #fff,
                0 0 0rem blue,
                0 0 0.4rem blue,
                0 0 2.8rem #bc13fe,
                inset 0 0 0.1rem blue;
    }
    a{
        color: white;
        text-decoration: none;
        font-size: 16px;
    }