#buttons{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
  }
  body{
    background-image: url('../../../assets/bg1_main.png');
    background-size: contain;
    height: 80vh;
  }
  app-button{
    margin: 3%;
  }