
<body>

    <div id="buttons">
        <app-button route="/experience" [title]="tstitle" ></app-button>
        <app-button route="/education" title="Education"></app-button>
        <app-button route="/certificates" title="Certificates"></app-button>
        <app-button route="/hobbies" title="Hobbies"></app-button>
    </div>
    <div id="Experience">
    <h1> Professional Experience</h1>

    <div class="timeline">
        <div class="container left">
          <div class="content">
            <h3>July 2023 to February 2024 - Application Engineer <br> Rank Interactive Mauritius</h3>
            <p> Client needs analysis, product development collaboration, technical expertise, documentation update, deployment coordination, report generation using Power BI.<br><br> Technologies: SQL, Azure, Azure DevOps, Service Bus, ServiceNow, Power BI, Excel Reporting, Microsoft SQL Server, SSIS packages, JIRA.
            </p>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h3>May 2022 to July 2023 - Software Engineer <br> Infomil Mauritius ltd</h3>
            <p>Experience in semi-agile method, technical methodology documentation, deadline adherence, database design, system development, coding standards promotion, regression testing, code base updating. Developed custom C# solutions for clients. <br><br>Technologies: C#, .NET, JavaScript, AngularJS, HTML, Entity Framework, XML, WPF, JIRA.</p>
          </div>
        </div>
        <div class="container left">
            <div class="content">
              <h3>Jan 2022 to April 2022 - Customer service representative <br> Sedeco ltd</h3>
              <p> Provide customer support for food companies, handling queries via phone calls and addressing concerns through social platform chats. <br><br> Excel in communication (French and English), problem-solving, empathy, patience, and multitasking.
              </p>
            </div>
          </div>
          <div class="container right">
            <div class="content">
              <h3>June 2021 to July 2021 - Remedial teacher and administrative assistant <br> Elles C Nous Association</h3>
              <p>The job involves tutoring underprivileged children in computer skills, mathematics, English, and French to improve their academic performance. Additionally, it includes administrative tasks such as contacting companies to secure funding for educational support programs aimed at assisting these children. <br><br>Professional emailing, Communication through call, training abilities, multitasking </p>
            </div>
          </div>
          <div class="container left">
            <div class="content">
              <h3> April 2019 to September 2019 - Sales Assistant <br> Uzoma ltd</h3>
              <p> The job entails assisting customers in a stationery shop, managing sales transactions, handling accounts, processing deposits, and overseeing the opening and closing of the shop. <br> <br>
                Customer service, salesmanship, cash handling, accounting, inventory management, organisation, time management, and attention to detail. 
              </p>
            </div>
          </div>

      </div>
    </div>
</body>
