
<body>

    <div id="buttons">
        <app-button route="/experience" title="Experience" ></app-button>
        <app-button route="/education" title="Education"></app-button>
        <app-button route="/certificates" title="Certificates"></app-button>
        <app-button route="/hobbies" title="Hobbies"></app-button>
    </div>
    <div id="Education">
    <h1> Educational Journey</h1>

    <div class="timeline">
        <div class="container left">
          <div class="content">
            <h3>September 2020 to July 2022 - Middlesex University <br> BSc in Computer Science and systems Engineering</h3>
            <p> Key Subjects - Web development, C++, Augmented reality, robotics, project management, UI/UX, business intelligence 
            </p>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h3>October 2019 to July 2020 - Supinfo University <br> ASc in Computer Science</h3>
            <p>Key Subjects – Web development, python, management, networking, photoshop, logo design, databases,linux, 5G, game development </p>
          </div>
        </div>
        <div class="container left">
            <div class="content">
              <h3> April 2019 to September 2019 - Wisdom in tech <br> MS Office Specialist</h3>
              <p> Key Subjects – MS Word, Powerpoint, Outlook, Access, Publisher, Excel 
              </p>
            </div>
          </div>
          <div class="container right">
            <div class="content">
              <h3>November 2018 - Cambridge University <br> Higher School Certificate (A-Level)</h3>
              <p>Loreto College Rose Hill <br> Science side student: Maths, Chemistry, Physics, French and General Paper </p>
            </div>
          </div>
          <div class="container left">
            <div class="content">
              <h3> July 2018 - DALF <br> Alliance française</h3>
              <p> Diplôme d'étude avancée en langue française
              </p>
            </div>
          </div>
          <div class="container right">
            <div class="content">
              <h3>July 2017 - DELF <br> Alliance française</h3>
              <p>Diplôme d'étude en langue française</p>
            </div>
          </div>
          <div class="container left">
            <div class="content">
              <h3> November 2016 - Cambridge University <br> School Certificate</h3>
              <p> Loreto College Rose Hill <br>
                Science side: maths, english, french, bible knowledge, biology, chemistry, physics, additional mathematics
              </p>
            </div>
          </div>

      </div>
    </div>
</body>

