
<body>

    <div id="buttons">
        <app-button route="/experience" title="Experience" ></app-button>
        <app-button route="/education" title="Education"></app-button>
        <app-button route="/certificates" title="Certificates"></app-button>
        <app-button route="/hobbies" title="Hobbies"></app-button>
    </div>
    <div id="Certificate">
    <h1> Certificates Earned</h1>

    <div class="timeline">
        <div class="container left">
          <div class="content">
            <h3>Duke of Edinburgh - Silver Award</h3>
           <p>
            Skills development in physical recreation, skill development, voluntary service and adventurous journey for a total of 52 weeks. 
           </p> 
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h3>Duke of Edinburgh - Bronze Award</h3>
            <p> Skills development in physical recreation, skill development, voluntary service and adventurous journey for a total of 26 weeks.</p>
          </div>
        </div>
        <div class="container left">
            <div class="content">
              <h3>Alliance française (2010-2018) </h3>
             <p>
              French certificates for primary and secondary levels.
             </p> 
            </div>
          </div>

      </div>
    </div>
</body>


