<body>

    <div id="buttons">
        <app-button route="/experience" title="Experience" ></app-button>
        <app-button route="/education" title="Education"></app-button>
        <app-button route="/certificates" title="Certificates"></app-button>
        <app-button route="/hobbies" title="Hobbies"></app-button>
    </div>

    <h1>Hobbies</h1>
<div id="pictures">
    <div class="gallery">
        <a target="_blank" href="swim.png">
          <img src="../../../assets/swim.png" alt="Swimming" width="600" height="400">
        </a>
        <div class="desc">SWIMMING</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="hike2.jpg">
          <img src="../../../assets/hike2.jpg" alt="Hike" width="600" height="400">
        </a>
        <div class="desc">HIKING</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="read.jpg">
          <img src="../../../assets/read.png" alt="Read" width="600" height="400">
        </a>
        <div class="desc">READING</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="travel.png">
          <img src="../../../assets/travel.png" alt="travel" width="600" height="400">
        </a>
        <div class="desc">TRAVELLING</div>
      </div>
      </div>
</body>
