<html><body>
    <section id="presentation">
        <img id="mypic" src="../assets/mypic.png">
        <div id="dev">
            <h1>Developer</h1>
            <p>Full stack developer who focuses on writing clean and efficient codes in an innovative manner. You can trust me on Java, C#, Python and Angular.</p>
        </div>
        <div id="supp">
            <h1>SRE & Support</h1>
            <p>Application and Site reliability  Engineer creating scalable and reliable software systems through a combination of engineering and operations principles with high troubleshooting skills.</p>
        </div>
    </section>
    <section id="bio">
        <h1> Let me introduce myself ...</h1>
        <p>Hello! I'm Tatiana, you can also call me tati ;) <br> I'm a passionate software developer and site reliability engineer with a knack for troubleshooting.
             <br>I thrive on challenges and love diving deep into complex problems to find innovative solutions.
              <br>When I'm not coding, you can find me exploring the great outdoors through hiking trails, 
              enjoying a game of volleyball with friends, or swimming laps in the pool. 
              <br>I'm excited to share my skills and experiences with you through my portfolio. 
              </p>
              <h4>Let's connect and create something amazing together!</h4>
    </section>
</body>
</html>
